
.container{
  margin: 0 auto;
  padding:0px;
  width:60%;
}
.Page-tab{
  margin-top: 35px;
}

.history-tab {
  padding-top: 40px;
}

.sub-tab {
  display: flex;
}

.sub-tab-tab {
  margin-top: 64px;
}

.title-tab {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 120px;
  color: #6a7b98;
}

.div-tab {
  background-color: #6a7b98;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 820px) {
  .history-tab{
    margin-top: 939px;
  }

}



@media screen and (max-width: 420px) {
  .sub-tab {
     flex-direction: column; 
}
.history-tab{
  margin-top: 539px;
}
.sub-history {
  margin-top: -60px;
  margin-left: 30px;
  font-size: 50px;
  color: #404f6c;
}
.div-tab {
  margin-left: 34px;
 
}
.title-tab {
  margin-left: 30px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 120px;
  color: #6a7b98;
}


}