.Nav-tab-tablet{
    display: flex;
    gap: 10px;
}
.text{
    color:#404f6c;
}

.Navbar-tab {
    align-items: center;
}

/* TABLET VIEW */
@media screen and (max-width: 820px) {
    .Navbar-tab{
        margin-bottom: 90px;
    }

}


/* MOBILE VIEW */
@media screen and (max-width: 420px) {
    .Navbar-tab {
        flex-direction: column;
        gap: 16px;
        justify-content: start !important;
        padding-bottom: 10px;
        
    }
    .padding.text {
        padding: 10px;
    }
    .Navbar-tab{
        margin-bottom: 10px !important;
    }
   
}