.container{
  margin: 0 auto;
  padding:0px;
  width:60%;
}

.main-page{
  background-image: url("/src/assets/Images/peak.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  position: relative;
}
.sub-tab{
  display: flex;
}
.sub-tab-tab{
  margin-top: 64px;
}
.title-tab{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 120px;
  color: #6a7b98;
}
.div-tab{
  background-color: #6a7b98;
  width:20px;
  height: 20px;
}
.tourist-tab{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(59,73,98,0.6);
  padding-top: 16px;
}
.container.tourist {
  display: flex;
  justify-content: space-between;
}
.sub-history{
  font-size: 30px;
  color:#404f6c
}
.lorem-text{
  margin-left: 40px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  line-height: 30px;
}
.padding{
  padding: 5px;
  width: 100%;
}

.dots {
  display: flex;
  gap: 8px;
  width: max-content;
  margin: 8px auto 16px;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #6a7b98;
  border-radius: 50%;
}

.dot:first-child {
  background-color: white;
}

@media screen and (max-width: 640px) {
  .lorem-text {
    font-size: 16px;
  }
}